@CHARSET "ISO-8859-1";

.kContainer{
  margin-right:15px;
}

/*
.pageContainer{
	border: 2px solid #666;
	height:200px;
}*/
/*
//replace this with padding for just our main app div
body {
    padding: 10px !important;   
}*/

/*
.wideHolder{
	width:720px;
	border: 1px solid #ddd;
	border-top:hidden;
	margin-top:0px;
	padding: 10px;
	height:300px;
}

.txtfieldHolder{
	width:720px;
	border: 1px solid #ddd;
	border-top:hidden;
	margin-top:0px;
	padding: 10px;
	height:210px;
}

.kCollapse{
	background-color:#ddd;
	width:732px;
	cursor:n-resize;
	margin-top:15px;
	padding:5px;
}

.plus{
	

	
}

.minus{
	
}

.formDiv{
	float:left;
	height:270px;
	margin: 10px;
	padding: 10px;
	overflow:scroll;
	overflow-x:hidden;
	width:310px;
}

.textAreaDiv{
	float:left;
	

	margin: 10px;
	padding: 0px;
}


.generalHolder{
	width:720px;
	border: 1px solid #ddd;
	border-top:hidden;
	margin-top:0px;
	padding: 10px;
}


.txtArea{
	float:left;
	width:335px;	
}*/
/*
.txtHeader{
	width:610px;
	position:absolute;
	left:290px;
}*/

/*
table, th, td{
	border: 1px solid #ddd;
	text-align:center;
}*/
/*
.sortHolder{
	height:270px;
	margin: 10px;
	/*padding: 10px;*/
	width:330px;
	
	overflow:scroll;
	overflow-x:hidden;
	
}*/
